.jumbotron{
	width:1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.table-title > th{
	text-align: center;
}

.table tr td img {
	width:100px; 
	height:70px;
}

.align-content{
	vertical-align: middle !important;
}