<div ng-controller="BookCtrl" class="container">
	<div class="jumbotron">
		<h2>Biblioteca</h2>
		<md-button ng-controller="PopupCtrl" ng-click="showAddBookForm($event)" class="md-fab" aria-label="add">
        	<md-icon class="material-icons">add</md-icon>
        </md-button>
		<table class="table table-striped" >
			<tr class="table-title">
				<th>Título</th>
				<th>Autor</th>
				<th>Sinopse</th>
				<th>Capa</th>
				<th>Preço</th>
				<th></th>
			</tr>
			<ul>
			<tr ng-repeat="book in books">
				<td class="align-content">{{book.title}}</td>
				<td class="align-content">
					<div ng-repeat="author in book.authors">
						{{author}}
					</div> 
				</td>
				<td class="align-content">{{book.sinopse}}</td>
				<td class="align-content"><img ng-src={{book.imgUrl}}></td>
				<td class="align-content">
					R${{book.price}}
				</td>
				<td>
					<div ng-controller="PopupCtrl" class="row">
						<md-button ng-click="showConfirm($event, book.bookId, removeBookCallback)" >
	      					<i class="material-icons">clear</i>
	    				</md-button>
						<!--<a ng-click="openConfirm()"><i class="material-icons">clear</i></a>-->
					</div>
				</td>
			</tr>
			</ul>
		</table>
        <md-button ng-click="goTo('/count')" class="md-raised md-primary">
	        <md-tooltip>
	            Ir para a tela do contador
	        </md-tooltip>
	        COUNTING
      </md-button>
	</div>
</div>